@charset "UTF-8";
/* =FancyTabs
-------------------------------------------------------------- */
#fancy-tabs {
	display: block;
	line-height: 22px;
	padding: 5px 10px 3px 0;
}
#fancy-tabs ul {
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
#fancy-tabs ul li{
	padding: 0;
	margin: 0;
	display: inline-block;
}
#fancy-tabs ul li a {
	font-family:Tahoma, Geneva, sans-serif;	
	display: block;
	cursor: pointer;
	text-decoration: none;
	padding: 5px 25px;
	margin: 5px 2px 0 2px;
	color: #000;
	font-size: 14px;
	background: #DDD;
	border:#999 1px solid;
	border-radius: 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-border-radius: 8px;
}
#fancy-tabs ul li a.link-catch-all {
	background:#ddd;
}
#fancy-tabs ul li a.fancytab_on {
	color:#fff;
	background:#333;
}
#fancy-tabs ul li a:hover {	
	color: #FFF;
	background: #333;
}
